<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /fudo/

    # Remueve index.php de las URLs
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

# Si mod_rewrite no está habilitado, mantén index.php en config.php
